* {
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-size: 100%;
  background-color: #13131F;
  overflow-x: hidden;
}

.conteudo-centralizado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cabecalho {
  display: flex;
  justify-content: space-around;
  align-items: center; /* Adicione alinhamento vertical */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 24px;
  z-index: 100; /* Garanta que o cabeçalho fique acima do conteúdo */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Adicione sombra */
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-item {
  font-family: 'Libre Baskerville', serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
}


