.habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: gray;
    text-align: center;
    max-width: 700px !important;
    margin: 0 auto; 
  }
  
  .texto-habilidades {
    color: #FFFFFF;
    font-size: 30px;
    margin: auto;
  }
  
  .imagens-habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  .img {
    margin: 0 10px;
    max-width: 100%; 
  }
  @media (max-width: 439px) {
    .habilidades {
        padding-top: 200px;
      }
}