.habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: gray;
    text-align: center;
    max-width: 700px !important; /* Largura máxima desejada para o conteúdo */
    margin: 0 auto; /* Centralizar horizontalmente */
  }
  
  .texto-habilidades {
    color: #FFFFFF;
    font-size: 30px;
    margin: auto;
  }
  
  .imagens-habilidades {
    display: flex;
    flex-wrap: wrap; /* Permite que as imagens caiam para a próxima linha */
    justify-content: center; /* Centraliza horizontalmente as imagens */
    margin-top: 20px; /* Espaçamento superior entre o texto e as imagens */
  }
  .img {
    margin: 0 10px; /* Espaçamento horizontal entre as imagens */
    max-width: 100%; /* Imagens não excederão a largura máxima da div pai */
  }
  @media (max-width: 439px) {
    .habilidades {
        padding-top: 200px;
      }
}